* {

    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: rgb(12, 12, 122);
}


nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(188, 188, 209);
    font-size: 1.04rem;
}
.my-About{
    display:none;
    padding:30px;
    max-width: 800px;
    margin: auto;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000088;
}
#home:target,
#About:target{
    display: block;
}
.close-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #f9826c;
    color: white;
    text-decoration: none;
    border-bottom: 5px;
}
main hr{
    border: 0;
    background:#9c97f1;
    height: 1.2px;
    margin: 50px 84px;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}
.firstSection >div{
    width: 30%;
}
.leftSection{
    font-size: 3rem;
    

}
.leftSection h1 span{
    color: #ff9800;
}
.leftSection p{
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 30px auto;

}
.leftSection button{
    background: blue;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor:pointer;
    transition: 0.3s;
    color: #9c97f1;
}
.leftSection button:hover{
    background:transparent;
    border: 2px solid #ff9800;
    color:#ff9800

}
.rightSection{
    
}
.firstSection .rightSection img{
    width: 387PX;
    height: 388PX;
    border-radius: 68%;
    object-fit: cover;
    border: 3px soolid #ff9800;
    transition: transform 0.5s ease,box-shadow 0.5s ease ;
    cursor: pointer;
  

}
.firstSection .rightSection img:hover{
   transform: scale(1.1); 
   box-shadow: 0 0 15px rgb(57, 14, 211);
}
.purple{
    color: rgb(65, 54, 228);
}
.text-grey{
    color: grey;
}
#element{
    color: rgb(69, 69, 156);
}

footer{
    background-color: #0e0e1a;
    padding: 30px 10%;
    
}
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}
.footer-first h2{
    color: #ffcc00;
    margin-bottom: 10px;
}
.footer-second h3,.footer-third h3{
    color: #ffcc00;
    margin-bottom: 15px;
}
.footer-second a{
    
    color: #00ccff;
    text-decoration: none;
   
}
.Social-icons{
    color: #fff;
    font-size: 22px;
    margin-right: 15px;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease ;
}
.Social-icons img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.Social-icons img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 15px #ffcc00;
}
.Social-icons a:hover{
    color:#00ccff;
    transform: scale(1.3) rotate(5deg);
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00;
}
.footer-third ul{
    list-style: none;
    padding: 0%;
}
.footer-third ul li{
    margin: 10px 0;
}
.footer-third ul li a{
    text-decoration: none;
    color: #fff;
    background:#222;
    padding: 10px 18px;
    border-radius: 8px;
    display: inline-block;
    transition: all 0.3s ease;
    box-sizing: 0 0 0px transparent;
}
.footer-third ul li a:hover{
    background: #ffcc00;
    color: 000;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 15px #ffcc00;
}